.navbar {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; /* You can adjust the z-index as needed */
  }
  
  .required {
    color: red;
    margin-left: 5px;
  }
  
  h1 {
    color: #006633;
  }
  
  
  body {
    margin: 0;
    background-color: lightgray;
  }
  
  .about-department {
    background-color: white;
  }
  input[type="checkbox"]{
    /* background-color: red; */
    color: red;
  }
  .info-box {
    border: 5px solid #006633;
    padding: 20px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .survey-button {
    color: black;
    text-decoration: none;
    padding-right: 15px;
    margin-right: 25px;
    background-color: #FFCC33;
  }
  
  .survey-button:hover {
    color: black;
    text-decoration: none;
    padding-right: 15px;
    margin-right: 25px;
    background-color: #FFCC33;
  }
  
  .survey-heading {
    border: 5px solid #006633;
    padding: 10px;
    background-color: #FFCC33;
    color: #006633;
    text-align: center;
  }
  
  /* Add more styles as needed */
  
  .course-header {
    color: #FFCC33;
    background-color: #006633;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .course-header:hover {
    opacity: 0.8;
  }
  
  .survey-page {
    background-image: linear-gradient(#FFCC33, #006633);
  }
  .field-required{
    color: rgb(219, 57, 57);
  }
  .survey-page-body {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
    margin-top: 25px;
    margin-bottom: 50px
  }